<div class="advice-page-container">
  <div class="advice-content">
    <div class="advice-header-section">
      <!-- <h1>{{adviceHeading}}</h1> -->
    </div>
    <div class="advice-content">
      <!-- <p>{{advice$ | async}}</p> -->
    </div>
    <div class="image-container">
      <img src="/src/reasources/images/favicon-32x32.png" alt="">
    </div>
    <div class="dice-container">
      <!-- <img   (click)="generateRandomAdvice()" src="/reasources/images/icon-dice.svg" alt=""> -->
    </div>
  </div>
</div>
