/* You can add global styles to this file, and also import other style files */
:root {
  /* primary */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* neutral */
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--Dark-Blue);
  overflow: hidden;
}

* {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
}

.advice-page-container {
  margin: 17vh auto;
  border-radius: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 28.5rem;
  height: 18rem;
  padding: 2rem;
  background-color: var(--Dark-Grayish-Blue);
  position: relative;
}

h1 {
  color: var(--Neon-Green);
  margin: 1rem 0 1.4rem 0;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 3px;
}

p {
  line-height: 2.7rem;
  margin-bottom: 2.6rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--Light-Cyan);
}

.desktop-svg {
  margin-bottom: 2.8rem;
}

.mobile-svg {
  display: none;
}

.dice-div {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.1rem;
  width: 4.2rem;
  background-color: var(--Neon-Green);
  position: absolute;
  bottom: -2rem;
}

.dice-div:hover {
  transition-duration: 200ms;
  box-shadow: 0 0 30px var(--Neon-Green);
}

@media (max-width: 500px) {
  .advice-page-container {
    width: 25rem;
    padding: 2rem 1rem;
  }
  p {
    font-size: 24px;
  }
  .desktop-svg {
    display: none;
  }
  .mobile-svg {
    display: inline;
  }
}

@media (max-width: 375px) {
  .advice-page-container {
    border-radius: 20px;
    width: 18rem;
    height: 16.5rem;
    padding: 2rem 2rem;
    margin: 150px auto;
  }

  p {
    margin-bottom: 26px;
    line-height: 2.1rem;
    font-size: 22px;
  }
}
